[submodule "Tweaks/FLEXing"]
	path = Tweaks/FLEXing
	url = https://github.com/PoomSmart/FLEXing.git
[submodule "Tweaks/uYouLocalization"]
	path = Tweaks/uYouLocalization
	url = https://github.com/dayanch96/uYouLocalization.git
[submodule "Tweaks/YTHoldForSpeed"]
	path = Tweaks/YTHoldForSpeed
	url = https://github.com/arichorn/YTHoldForSpeed.git
[submodule "Tweaks/YTABConfig"]
	path = Tweaks/YTABConfig
	url = https://github.com/PoomSmart/YTABConfig.git
